target/
.idea/
deployable/
.gradle/
out/
build/
gradle/
tokens/

*.class
*.jar
*.war
*.ear
*.logs
*.iml
*.target
*.eclipse
*.MF

logback_jar.xml
src/main/java/bot/Config.java
src/main/resources/credentials.json

loadLP.txt
loadIO.txt
notes.txt
